<html>
  <head>
    <title>Produk | Create</title>
  </head>
  <body>
    <form method="POST" action="/produk">
      <label for="nama">Nama Produk</label>
      <br />
      <input type="text" name="nama" id="nama" />
      <br />

      <label for="deskripsi">Deskripsi Produk</label>
      <br />
      <textarea name="deskripsi" id="deskripsi" cols="30" rows="10"></textarea>
      <br />

      <label for="varian">Varian</label>
      <br />
      <input type="text" name="varian" id="varian" />
      <br />

      <label for="harga">Harga Produk</label>
      <br />
      <input type="text" name="harga" id="harga" />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>